@use '../../styles/vars' as v;

.board__settings {
  // position: relative;

  .board__settings-delete-button {
    position: relative;

    .btn-confirm {
      position: absolute;
      inset: 0;
      inset: 0 auto auto calc(100% + 20px);
    }
  }

  // &-delete {
  //   position: absolute;
  //   inset: auto auto 15px 40px;

  //   &-message {
  //     z-index: 3;
  //   }

  //   &-button {
  //     display: flex;
  //     gap: 20px;
  //     z-index: 30000000;
  //   }
  // }

  // .confirm-delete {
  //   display: flex;
  //   align-items: center;
  //   flex-direction: column;
  //   gap: 20px;

  //   .buttons-container {
  //     display: flex;
  //     gap: 20px;
  //   }
  // }
}