@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.modal-container {
  @include mix.flex-center;
  position: fixed;
  inset: 0;
  z-index: 9;

  .backdrop {
    background: rgba($color: #000, $alpha: .6);
    position: fixed;
    inset: 0;

    &:hover {
      cursor: pointer;
    }
  }

  .modal {
    @include mix.flex-column-gap(4rem);
    padding: 4rem;
    width: 100%;
    min-width: 50%;
    height: 100%;
    background: var(--background);
    border-left: 1px solid #000;
    justify-content: space-between;
    position: fixed;
    inset: 0 0 auto auto;
    overflow-y: scroll;
    z-index: 1;

    &-close {
      box-shadow: v.$box-shadow-lg;
      border-radius: v.$radius-sm;
      position: fixed;
      inset: 2rem 2rem auto auto;
      cursor: pointer;
      transition: box-shadow .1s;

      &:hover {
        box-shadow: 0 0 0 .125rem #000, .25rem .25rem 0 .125rem #000;
      }

      &:active {
        box-shadow: 0 0 0 .125rem #000, .125rem .125rem 0 .125rem #000;
      }
    }

    &-content {
      @include mix.flex-column-gap(4rem);
      justify-content: space-between;

      &-title {
        margin-left: 2rem;
        font-size: 2.4rem;
        font-weight: 600;
      }
    }

    &-footer {
      @include mix.flex-column-gap(1rem);
    }
  }
}