@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.progress-bar {
  @include mix.flex-column-center-gap(1.4rem);
  grid-area: ProgressBar;
  width: 5rem;
  height: calc(100vh - calc(v.$app-padding + v.$container-padding / 2) * 2);
  position: sticky;
  top: 0;
  transition: height .4s;

  // @mixin percent-container($color) {
  //   @include mix.flex-justify;
  //   width: 2.5rem;
  //   background: $color;
  //   border-radius: v.$radius-lg;
  //   position: relative;
  //   transition: .4s;
  // }

  @mixin percent-container {
    @include mix.flex-justify;
    width: 2.5rem;
    background: v.$red-light-1;
    border-radius: v.$radius-lg;
    position: relative;
    transition: .2s;
  }

  & &-item {
    @include percent-container;
    box-shadow: 0 0 0 .125rem v.$dark;

    &.active {
      background: v.$red-1;
      box-shadow: 0 0 0 .125rem v.$dark, .375rem .375rem 0 .125rem v.$dark;
      // transform: scale(1.05);
    }

    &-arrow {
      position: absolute;
      bottom: .5rem;
    }

    &.disabled {
      opacity: .6;
    }

    &.preview {
      height: 1.25rem;
    }

    >p {
      padding: .5rem .75rem;
      text-align: center;
      background: v.$light;
      border: 1px solid #aaa;
      border-radius: v.$radius-sm;
      color: #000;
      position: absolute;
      top: .75rem;
      z-index: 1;

      span {
        color: #000;
        font-size: .8em;
      }
    }
  }

  .no-tasks {
    color: #888;
    font-size: 1.4rem;
    font-weight: 600;
    writing-mode: vertical-lr;
    text-orientation: upright;
    cursor: default;
  }
}