@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.progress-bar {
  @include mix.flex-column-center-gap(1.4rem);
  grid-area: ProgressBar;
  width: 5rem;
  height: calc(100vh - calc(v.$app-padding + v.$container-padding / 2) * 2);
  position: sticky;
  top: 0;
  // transition for responsive (on resize)
  transition: height .4s;

  & &-item {
    @include mix.flex-justify;
    width: 2.5rem;
    background: var(--primary);
    border-radius: v.$radius-lg;
    color: #000;
    position: relative;
    transition: .2s;
    box-shadow: 0 0 0 .125rem #000;

    &.active {
      box-shadow: v.$box-shadow-lg;
    }

    &.disabled {
      opacity: .4;
    }

    &-arrow {
      position: absolute;
      bottom: .125rem;
    }

    >p {
      padding: .5rem .75rem;
      text-align: center;
      background: var(--background);
      color: var(--color);
      border: var(--input-border);
      border-radius: v.$radius-sm;
      position: absolute;
      top: .75rem;
      z-index: 1;
    }
  }

  .no-tasks {
    color: #888;
    font-size: 1.4rem;
    font-weight: 600;
    writing-mode: vertical-lr;
    text-orientation: upright;
    cursor: default;
  }
}