@use '../../styles/vars' as v;

.progress__bar {
  grid-area: ProgressBar;
  width: 80px;
  height: calc(100vh - calc(v.$app-padding + v.$container-padding) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 0;

  @mixin percent-container($color) {
    width: 40px;
    background: $color;
    border-radius: v.$radius;
    display: flex;
    justify-content: center;
    position: relative;
  }

  & &-to-do {
    @include percent-container($color: v.$to-do);
  }

  & &-in-progress {
    @include percent-container($color: v.$in-progress);
  }

  & &-done {
    @include percent-container($color: v.$done);
  }

  p:not(.no-tasks) {
    padding: 8px;
    width: 60px;
    text-align: center;
    background: v.$light;
    border: 1px solid #aaa;
    border-radius: v.$radius;
    color: #000;
    position: absolute;
    top: 10px;

    span {
      color: #000;
      font-size: .8em;
    }
  }

  .no-tasks {
    color: #888;
    font-size: 1.4rem;
    font-weight: 600;
    writing-mode: vertical-lr;
    text-orientation: upright;
    cursor: default;
  }
}