@use '../../styles/vars';

.task__details {
  padding: 40px;
  background: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-header {
    display: flex;
    align-items: center;
    gap: 20px;

    &-button {
      display: flex;
      justify-content: center;
      position: relative;
      cursor: pointer;

      .button-title {
        padding: 8px;
        background: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        color: #000;
        font-family: 'Poppins' !important;
        font-size: 16px !important;
        position: absolute;
        bottom: calc(100% + 10px);
        opacity: 0;
        transform: translateY(10px);
        pointer-events: none;
        transition: .2s;
      }

      &:hover {
        .button-title {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    &-title {
      font-weight: 600 !important;
    }
  }

  .description {
    font-weight: 500;
  }

  .date {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-size: .9em;
      font-weight: 500;

      span {
        font-weight: 400;
      }
    }
  }

}