@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

@mixin button-style {
  @include mix.flex-align-gap(.75rem);
  padding: .75rem 1.5rem;
  width: fit-content;
  height: 2.5rem;
  border-radius: v.$radius-sm;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.default {
  @include button-style;
  background: v.$red-1;
  box-shadow: 0 0 0 .125rem v.$dark, .375rem .375rem 0 .125rem v.$dark;
  font-weight: 600;
  transition: .1s;

  &:hover {
    box-shadow: 0 0 0 .125rem v.$dark, .25rem .25rem 0 .125rem v.$dark;
  }

  &:active {
    box-shadow: 0 0 0 .125rem v.$dark, .125rem .125rem 0 .125rem v.$dark;
  }

  &:disabled {
    opacity: .6;
  }
}

.green {
  @extend .default;
  background: v.$green-4;
}

.form-button {
  @extend .default;
  margin-left: 2rem;
}

.delete {
  @extend .default;
  background: v.$red-2;
  position: absolute;
  inset: auto 2rem 2rem auto;
}

.back {
  @extend .default;
  background: transparent;
  position: absolute;
  inset: 2rem auto auto 4rem;
}