@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

@mixin button-style {
  padding: 10px;
  width: fit-content;
  border-radius: v.$radius;
  box-shadow: 0 1px 2px rgba($color: #000, $alpha: .4);
  white-space: nowrap;
  cursor: pointer;
}

@mixin default {
  @include button-style;
  font-size: 1.4rem;
  background: #ebdfff;
  font-weight: 200;
  transition: .1s;

  &:hover {
    background: #dfd1f7;
  }

  &:active {
    background: #cdbdeb;
  }

  &:disabled {
    opacity: .6
  }
}

.default {
  @include default;
}

.form-button {
  @include default;
  margin-left: 20px;
}