@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

@mixin button-style {
  @include mix.flex-align-gap(1rem);
  padding: .9rem 1.6rem;
  width: fit-content;
  border-radius: v.$radius * .8;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .1s;
  }

  &:hover {
    &::before {
      opacity: .1;
    }
  }

  &:active {
    &::before {
      opacity: .15;
    }
  }
}

.default {
  @include button-style;
  background: #f5e39c;
  // color: #fff;
  transition: .1s;

  &:disabled {
    opacity: .6;
  }
}

.form-button {
  @extend .default;
  margin-left: 2rem;
}

.delete {
  @include button-style;
  background: v.$red;
  color: #fff;
  position: absolute;
  inset: auto 2rem 2rem auto;
}

.back {
  font-size: 1.2rem;
  position: absolute;
  inset: 2rem auto auto 4rem;
}