@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.tags {
  .header {
    .right-side {
      @include mix.flex-align-gap(2rem);
      flex-wrap: wrap
    }
  }

  &-list {
    @include mix.flex-gap(1rem);
    color: #000;
    flex-wrap: wrap;
  }
}