// @import '../../styles/vars';

form {
  .title__input {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    &-remaining {
      color: #888;
    }
  }
}