@use '../../styles/vars' as v;

.boards__list-item {
  // display: flex;
  // align-items: flex-start;
  // flex-direction: row-reverse;

  .link-settings {
    display: flex;
    align-items: center;
    position: relative;

    &.active {

      // &~.link *,
      svg {
        color: v.$red !important;
      }
    }

    &:hover {
      svg {
        color: #000 !important;
      }

      .title {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .title {
      padding: .5rem;
      background: #fff;
      border: 1px solid #aaa;
      border-radius: 4px;
      display: flex;
      align-items: center;
      position: absolute;
      left: calc(100% + 10px);
      opacity: 0;
      transform: translateX(10px);
      pointer-events: none;
      z-index: 1;
      transition: .2s;

      // &::before,
      // &::after {
      //   content: '';
      //   width: 0;
      //   position: absolute;
      // }

      &::before {
        border-top: 9px solid transparent;
        border-right: 9px solid #aaa;
        border-bottom: 9px solid transparent;
        left: -9px;
      }

      &::after {
        border-top: 8px solid transparent;
        border-right: 8px solid #fff;
        border-bottom: 8px solid transparent;
        left: -8px;
      }
    }
  }
}