@use '../../styles/vars' as v;

.board__container {
  display: grid !important;
  align-items: flex-start !important;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'ProgressBar Header'
    'ProgressBar TasksContainer';

  header {
    grid-area: Header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }

  .add-task__button {
    white-space: nowrap;
  }
}