@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.board__container {
  display: grid !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'ProgressBar Header'
    'ProgressBar TasksContainer';
  gap: 1rem;

  header {
    @include mix.flex-align-gap(2rem);
    grid-area: Header;
    padding: 0 2rem;
    justify-content: space-between;
    flex-wrap: wrap;

    .buttons {
      @include mix.flex-gap(2rem);
    }
  }
}