@use '../../styles/vars' as v;

.navbar {
  padding: 40px;
  width: v.$navbar-width;
  background: v.$light;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: fixed;
  inset: 0;
  z-index: 1001;

  &::before {
    content: '';
    width: 1px;
    height: 90%;
    background: #222;
    position: absolute;
    inset: 5% 0 auto auto;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-theme-switcher {
      cursor: pointer;
    }
  }

  .user__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    // .link {
    //   &.active {
    //     .user__card-infos {
    //       &-name {
    //         background: v.$red;
    //       }
    //     }
    //   }
    // }

    &-picture {
      width: 60px;
      height: 60px;
      background: v.$light;
      border: 1px solid #000;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-infos {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      &-name {
        padding: 8px;
        background: v.$red;
        border-radius: 6px;
        color: #fff;
        font-size: 1.2em;
        font-weight: 600;
      }

      &-bio {
        color: #888;
      }
    }
  }

  &__list {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    .menu {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 40px;
    }

    &-item {

      .link,
      .content {
        display: flex;
        align-items: center;
        gap: 20px;

        .title {
          font-weight: 600;
        }

        &.active {
          .icon {
            color: v.$red;
          }

          .title {
            color: v.$red;
          }
        }
      }

      .link {
        cursor: pointer;
      }
    }

    .boards__list {
      margin: 20px 10px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;

      &-item {
        .link {
          display: flex;
          gap: 20px;

          .title {
            width: 120px;
            word-wrap: break-word;
            white-space: pre-wrap;
            font-weight: 400;
          }
        }
      }
    }
  }

  .auth {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    // position: absolute;
    // inset: auto auto 40px 40px;
  }
}