@use '../../styles/vars';

.navbar {
  width: vars.$navbar-width;
  background: vars.$light;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  inset: 0;
  z-index: 1001;

  &::before {
    content: '';
    width: 1px;
    height: 90%;
    background: #222;
    position: absolute;
    inset: 5% 0 auto auto;
  }

  &__list {
    padding: 40px;
    // height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    position: relative;

    &-item {
      &.theme-switcher {
        margin-bottom: 40px;
      }

      &.boards {
        .header {
          display: flex;
          align-items: center;
          gap: 20px;

          .title {
            font-weight: 600;
            border-radius: 4px;
          }
        }

        .boards__list {
          margin: 20px 10px 0;
          display: flex;
          flex-direction: column;
          gap: 20px;

          &-item {
            .link {
              .title {
                width: 120px;
                word-wrap: break-word;
                white-space: pre-wrap;
                font-weight: 400;
              }
            }
          }
        }
      }

      .link {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;

        .title {
          font-weight: 600;
        }

        &.active {
          .icon {
            color: #ff6058;
          }

          .title {
            color: #ff6058;
          }
        }
      }
    }
  }

  .auth {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    // position: absolute;
    // inset: auto auto 40px 40px;
  }
}