@use '../../styles/vars' as v;

.dark-filter {
  clip-path: circle(20px at 68px 68px);
  // backdrop-filter: invert(90%) brightness(140%) contrast(140%) sepia(60%);
  backdrop-filter: brightness(75%) sepia(60%) contrast(140%);
  position: fixed;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  transition: .6s;

  &.active {
    clip-path: circle(150% at 68px 68px);
  }
}

.navbar {
  padding: 40px;
  width: v.$navbar-width;
  height: calc(100vh - v.$app-padding * 2);
  background: v.$light;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: sticky;
  inset: v.$app-padding;
  z-index: 1;

  &::before {
    content: '';
    width: 1px;
    height: 90%;
    background: #222;
    position: absolute;
    inset: 5% 0 auto auto;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-theme-switcher {
      cursor: pointer;
    }
  }

  .user__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    &-picture {
      width: 60px;
      height: 60px;
      background: v.$light;
      border: 1px solid #000;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    // &-infos {
    //   display: flex;
    //   align-items: center;
    //   flex-direction: column;
    //   gap: 10px;

    &-name {
      padding: 8px;
      background: v.$red;
      border-radius: 6px;
      color: #fff;
      font-size: 1.2em;
      font-weight: 600;

      &:hover {
        background: #D14F48;
      }
    }

    // }
  }

  &__list {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    .menu,
    .auth {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 40px;

      .navbar__list-item {
        &.boards {
          width: 100%;
        }

        &.error-message {
          display: flex;
          align-items: center;
          gap: 20px;

          .title {
            word-wrap: break-word;
            white-space: pre-wrap;
          }
        }

        .link,
        .content {
          display: flex;
          align-items: center;
          gap: 20px;

          .title {
            font-weight: 600;
          }
        }

        .link {
          cursor: pointer;

          &.active {
            .icon {
              color: v.$red;
            }

            .title {
              color: v.$red;
            }
          }

          &:hover {
            .icon {
              color: v.$dark-red;
            }

            .title {
              color: v.$dark-red;
            }
          }
        }
      }

      .boards__list {
        margin: 20px 0 0 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;

          .link {
            .title {
              // max-width: 120px;
              word-wrap: break-word;
              white-space: pre-wrap;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}