@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.tags-list {
  .tag {
    @include mix.flex-align-gap(1rem);
    padding: 1rem;
    // background: v.$low;
    background: var(--task-low);
    border: var(--task-border);
    border-radius: v.$radius-lg;
    color: var(--color);
    justify-content: space-between;
    flex: 1;
    white-space: nowrap;
    transition: background .2s, box-shadow .2s;

    &:hover {
      border-color: var(--primary);
    }

    &-footer {
      .button {
        cursor: pointer;
      }
    }
  }
}