@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

@mixin set-color {
  &-name {
    margin-left: 1rem;
    width: fit-content;
    border-radius: v.$radius-sm;
    font-size: 1.75rem;
    font-weight: 600;
  }

  &-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .task-content,
    .task-content-important {
      // box-shadow: 0 0 0 .125rem v.$dark;

      &:hover {
        background: v.$green-4;
        // box-shadow: 0 0 0 .125rem v.$green-4;
        box-shadow: 0 0 0 .125rem v.$dark, .375rem .375rem 0 .125rem v.$dark;
      }
    }
  }
}

.tasks-container {
  grid-area: TasksContainer;
  display: grid;
  gap: 1rem;

  .status {
    @include set-color;
    padding: 1rem;
  }
}