@use '../../styles/vars' as v;

@mixin name {
  margin: 0 20px;
  padding: 0 40px;
  width: fit-content;
  height: 40px;
  border-radius: v.$radius;
  font-size: 1.4em;
  display: flex;
  align-items: center;
}

@mixin container {
  width: 100%;
  margin: 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tasks-container {
  grid-area: TasksContainer;
  display: grid;
  gap: 40px;

  .to-do {
    &-name {
      @include name;
      background: v.$to-do;
    }

    &-container {
      @include container;

      .task__content,
      .task__content--important {
        &:hover {
          @include v.set-color(v.$to-do);
        }
      }
    }
  }

  .in-progress {
    &-name {
      @include name;
      background: v.$in-progress;
    }

    &-container {
      @include container;

      .task__content,
      .task__content--important {
        &:hover {
          @include v.set-color(v.$in-progress);
        }
      }
    }
  }

  .done {
    &-name {
      @include name;
      background: v.$done;
    }

    &-container {
      @include container;

      .task__content,
      .task__content--important {
        &:hover {
          @include v.set-color(v.$done);
        }
      }
    }
  }
}