@use '../../styles/vars';

.tasks-container {
  grid-area: 2 / 2 / 3 / 4;
  display: grid;
  gap: 40px;


  @media (min-width: 1536px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .status {
    &.to-do {
      .task-status {
        background: vars.$to-do;
      }

      .grid {
        .task__content {
          &:hover {
            background: vars.$to-do;
            box-shadow: 0 0 0 4px vars.$to-do;
          }
        }
      }
    }

    &.in-progress {
      .task-status {
        background: vars.$in-progress;
      }

      .grid {
        .task__content {
          &:hover {
            background: vars.$in-progress;
            box-shadow: 0 0 0 4px vars.$in-progress;
          }
        }
      }
    }

    &.done {
      .task-status {
        background: vars.$done;
      }

      .grid {
        .task__content {
          &:hover {
            background: vars.$done;
            box-shadow: 0 0 0 4px vars.$done;
          }
        }
      }
    }

    .task-status {
      // color: #fff;
      margin: 0 20px;
      padding: 0 40px;
      width: fit-content;
      height: 40px;
      border-radius: 6px;
      font-size: 1.4em;
      display: flex;
      align-items: center;
    }

    .grid {
      width: 100%;
      margin: 20px 0 0;
      display: flex;
      flex-wrap: wrap;
      // display: grid;
      // grid-template-columns: 1fr;
      gap: 10px;
    }
  }
}