@use './vars' as v;

:root {
  --light: #f1eee0;
  --dark: #161b22; // border window dark theme
  --red-light: #ff9c97;
  --yellow: #f7e991;

  --light-border: #acaeb1;
  --dark-border: #30363d;
}

:root[theme='light'] {
  --primary: #ff6058;

  --background: #e8e4d2;
  --border-window-color: #1b1014;
  --color: #000;

  --task-background: var(--light);
  --task-border: 1px solid var(--light-border);

  --input-background: var(--light);
  --input-border: 1px solid var(--light-border);

  --tips-background: var(--red-light);
  --tips-border: none;

  --loader: linear-gradient(var(--color) 50%, transparent 50%);

  --disabled: rgba(0, 0, 0, .3);

  --scrollbar-thumb: var(--red-light);
}

:root[theme='dark'] {
  --primary: #6897c3;

  --background: #0d1117;
  --border-window-color: var(--dark);
  --color: #d6ddeb;

  --task-background: var(--dark);
  --task-border: 1px solid var(--dark-border);

  --input-background: #010409;
  --input-border: 1px solid var(--dark-border);

  --tips-background: var(--dark);
  --tips-border: 1px solid var(--dark-border);

  --loader: linear-gradient(#fff 50%, transparent 50%);

  --disabled: rgba(255, 255, 255, .3);

  --scrollbar-thumb: #000;
}

:root[font='Poppins'] {
  body {
    font-family: 'Poppins';
  }
}

:root[font='Source Code Pro'] {
  body {
    font-family: 'Source Code Pro';
  }
}