$green-border: #1aac83;
$red-dark: #df0000;

$new: #f0f014;

$blue-dark: #1863ff;
// $light: #f6fafd;
$light: #f7ece6;
// $light: #f2ede1;

$to-do: #ffc0ca;
$in-progress: #dec1f2;
// $done: #f9d89c;
// $done: #f7e991;
$done: #f5e39c;

// $to-do: rgba(#FCDDB0, 1);
// $in-progress: rgba(#FFDB89, 1);
// $done: rgba(#ff6058, 1);

$important-task: #FCDDB0;


$dark: #211e1e;
$green: #1eb854;
$red: #ff3e00;
$pink: #ff6058;
$blue: #40b3ff;

$app-padding: 60px;
$container-gap: 60px;

$navbar-width: 260px;
// $app-row-gap: 40px;

$btn-size: 60px;

$sm-shadow: 0 6px 12px rgba($color: #000, $alpha: .2);
$lg-shadow: 0 12px 24px rgba($color: #000, $alpha: .2);

// $container-bg: rgba($color: #fff, $alpha: .4);