// $green-4: #7dbfa2;
// $green-5: #b1c5bd;

// $red: #ff6058;
$red-2: #ff3e00;
// $red-light-1: #ff9c97;

$yellow: #f7e991;

// $light: #e8e4d2;
// $light-2: #f1eee0;
$dark: #1b1014;
$dark-2: #161b22;
$dark-3: #0d1117;

// $high: #fcddb0;
// $low: #dfdac5;

$input-color: #8b949e; // placeholder & label color

$box-shadow-sm: 0 0 0 .125rem #000, .125rem .125rem 0 .125rem #000;
$box-shadow-md: 0 0 0 .125rem #000, .25rem .25rem 0 .125rem #000;
$box-shadow-lg: 0 0 0 .125rem #000, .375rem .375rem 0 .125rem #000;

$app-padding: 1rem;
$container-padding: 2.5rem;

$radius-sm: .5rem;
$radius-lg: 1rem;