@import './vars';

form {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

}

input,
textarea,
select,
button {
  padding: 8px 10px;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 1em;
}

input,
textarea,
select {
  width: 100%;
  box-shadow: $sm-shadow;
}

textarea {
  max-height: 200px;
  min-height: 90px;
  white-space: break-spaces;
  resize: vertical;
}

select {
  cursor: pointer;
}

button {
  margin: 0 60px;
  width: fit-content;
  background: $green;
  color: #fff;
  cursor: pointer;
}

.error-message {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  inset: calc(100% + 20px) auto auto 20px;

  p {
    color: $red;
    font-weight: 600;
    text-align: center;
  }

  .link {
    display: flex;
    gap: 40px;

    a {
      padding: 8px 10px;
      box-shadow: $sm-shadow;
      border-radius: 6px;
    }
  }
}

// TASK FORM

.importance-select,
.title-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  .remaining {
    color: #888;
  }
}