@import './variables';

.home-page {
  padding: 0 !important;
  display: grid !important;
  align-items: flex-start !important;
  grid-template-columns: auto 1fr;

  .content {
    margin: 8em 0 0;
    grid-area: 1 / 2 / 2 / 3;

    .git {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .commands {
        .command-name {
          margin: 0 20px 10px;
          font-weight: 600;
        }
      }
    }
  }
}