@use './vars';

.navbar {
  grid-area: 1 / 2 / 2 / 3;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: vars.$nav-gap;
  position: sticky;
  top: vars.$app-padding;
  z-index: 100;

  .navbar__list {
    display: flex;
    flex-direction: column;
    gap: vars.$nav-gap;

    .navbar__item {

      .navbar__item-link,
      .logout {
        width: vars.$btn-size;
        height: vars.$btn-size;
        background: #fff;
        box-shadow: vars.$sm-shadow;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: .2s;

        .navbar__item-icon {
          text-align: center;
          font-size: 1.9em;
          pointer-events: none;
        }

        .navbar__item-title {
          padding: 4px 6px;
          background: #fff;
          border: 1px solid #aaa;
          border-radius: 4px;
          position: absolute;
          right: calc(100% + 20px);
          opacity: 0;
          transform: translateX(-20px);
          cursor: pointer;
          pointer-events: none;
          transition: .2s;
        }

        &:hover {
          .navbar__item-title {
            opacity: 1;
            transform: translateX(0);
          }
        }

        &.active {
          background: vars.$pink;

          .navbar__item-icon {
            color: #fff;
          }
        }
      }

      .logout {
        cursor: pointer;
      }
    }
  }
}