@use './vars' as v;
@use './mixins' as mix;

// sm 640px
@media (min-width: 640px) {
  .navbar-button {
    transform: translate(.5rem, .5rem);

    &--active {
      transform: translate(17rem, .5rem);
    }
  }

  .navbar {
    &--active {
      width: 18rem;
    }

    &+.container {
      margin-right: v.$app-padding;
    }
  }
}

// md 768px
@media (min-width: 768px) {
  .navbar-button {
    transform: translate(5rem, .5rem);

    &--active {
      transform: translate(17rem, .5rem);
    }
  }

  .navbar {
    padding: 3rem 1rem;
    width: 6rem;
  }

  .container {
    .modal {
      max-width: 60%;

      &-close {
        inset: 1rem 1rem auto auto;
      }
    }
  }
}

// lg 1024px
@media (min-width: 1024px) {
  .navbar-button {
    &--active {
      transform: translate(18rem, .5rem);
    }
  }

  .navbar {
    &--active {
      margin-left: v.$app-padding;

      &+.container {
        margin-right: v.$app-padding;
      }
    }
  }
}

// xl 1280px
@media (min-width: 1280px) {
  .navbar {
    &+.board {
      .tasks-container {
        flex-direction: row;
      }
    }
  }
}

// 2xl 1536px
@media (min-width: 1536px) {
  .navbar {
    &--active {
      &+.board {
        .tasks-container {
          flex-direction: row;
        }
      }
    }
  }
}