@use './vars' as v;
@use './mixins' as mix;

$progress-bar-height: calc(100vh - calc(v.$app-padding + v.$container-padding) * 2);

@mixin container {
  margin-right: v.$app-padding;
  padding: v.$container-padding !important;
  gap: 3rem 2rem !important;

  &.board {
    .progress-bar {
      height: $progress-bar-height;
    }
  }
}

// sm 640px
@media (min-width: 640px) {
  .navbar-button {
    &--active {
      transform: translateX(18rem);
    }
  }

  .navbar {
    &--active {
      width: 18rem;
    }

    &+.container {
      @include container;
    }
  }
}

// md 768px
@media (min-width: 768px) {
  .navbar-button {
    transform: translateX(5rem);
  }

  .navbar {
    padding: 3rem 1rem;
    width: 6rem;
  }

  .container {
    .modal {
      max-width: 60%;

      &-close {
        inset: 1rem 1rem auto auto;
      }
    }
  }
}

// lg 1024px
@media (min-width: 1024px) {
  .navbar {
    &--active {
      &+.container {
        @include container;
      }
    }
  }
}

// xl 1280px
@media (min-width: 1280px) {}

// 2xl 1536px
@media (min-width: 1536px) {
  .board {
    .tasks-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}