@import './variables';

.tasks-page {
  padding: 0 !important;
  display: grid !important;
  align-items: flex-start !important;
  grid-template-columns: auto 1fr;
  row-gap: $app-row-gap  !important;

  .loading {
    position: fixed;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
  }

  // ADD TASK BUTTON

  .add-task-link {
    grid-area: 1 / 1 / 2 / 2;
    width: 80px;
    position: sticky;
    top: $app-padding;
    z-index: 3;

    a {
      margin: 0 auto;
      width: $btn-size;
      height: $btn-size;
      background: $pink;
      box-shadow: $lg-shadow;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        color: #fff;
        font-size: 2.3em;
        text-align: center;
        pointer-events: none;
      }

      .title {
        padding: 4px 6px;
        background: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        position: absolute;
        top: calc(100% - 10px);
        opacity: 0;
        transform: translateY(10px);
        cursor: pointer;
        pointer-events: none;
        transition: .2s;
      }
    }

    &:hover {
      a {
        .title {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  // PROGRESS BAR

  .progress-bar {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0 auto;
    padding: 20px;
    width: $nav-width;
    height: calc(100vh - $app-padding * 2 - $btn-size - $app-row-gap);
    box-shadow: $lg-shadow;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    top: calc($app-padding + $btn-size + $app-row-gap);
    z-index: 3;


    .percent {
      width: 40px;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      position: relative;
      // transition: .2s;

      &.percent-to-do {
        background: #ffc0ca;
      }

      &.percent-in-progress {
        background: #dec1f2;
      }

      &.percent-done {
        background: #f9d89c;
      }

      p {
        padding: 4px 8px;
        min-width: 60px;
        text-align: center;
        background: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        color: #000;
        position: absolute;
        top: 10px;

        span {
          color: #000;
          font-family: 'Fira Mono';
          font-size: 14px;
        }
      }
    }
  }

  // JS FUNCTION CONTAINER

  .js-function {
    grid-area: 1 / 2 / 2 / 3;
    height: $btn-size;
    // width: calc(100% - $app-padding * 2 - 60px);
    display: flex;
    justify-content: center;
    // gap: 60px;
    // position: sticky;
    // top: $app-padding;
    // z-index: 3;

    .search {
      display: flex;
      align-items: center;
      position: relative;

      .search-bar {
        background: rgba($color: #fff, $alpha: .4);
      }

      .icon-search {
        position: absolute;
        right: 10px;
      }
    }
  }

  // TASKS CONTAINER

  .tasks-container {
    grid-area: 2 / 2 / 3 / 3;
    margin: 0 0 100px;
    // width: 100%;
    // min-height: calc(100vh - $app-padding * 2 - $app-row-gap - $btn-size);
    display: grid;
    gap: 20px;

    .status {
      padding: 20px;
      height: fit-content;
      box-shadow: $lg-shadow;
      border-radius: 12px;
      position: relative;

      &.to-do {
        .task-status {
          background: #ffc0ca;
        }

        .grid {
          .task-content {

            &.open,
            &:hover {
              background: #ffc0ca;
              box-shadow: 0 0 0 4px #ffc0ca;
            }
          }
        }
      }

      &.in-progress {
        .task-status {
          background: #dec1f2;
        }

        .grid {
          .task-content {

            &.open,
            &:hover {
              background: #dec1f2;
              box-shadow: 0 0 0 4px #dec1f2;
            }
          }
        }
      }

      &.done {
        .task-status {
          background: #f9d89c;
        }

        .grid {
          .task-content {

            &.open,
            &:hover {
              background: #f9d89c;
              box-shadow: 0 0 0 4px #f9d89c;
            }
          }
        }
      }

      .task-status {
        margin: 0 20px;
        padding: 0 40px;
        width: fit-content;
        height: 40px;
        border-radius: 6px;
        display: flex;
        align-items: center;
      }

      .grid {
        width: 100%;
        margin: 20px 0 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;

        .task-content {
          padding: 10px 16px;
          border-radius: 6px;
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;

          &.high-importance {
            background: #f8cbbe;
          }

          &.medium-importance {
            background: #cbeddb;
          }

          &.low-importance {
            background: #fff;
          }

          .task-title {
            width: 100%;
            white-space: normal;
            transition: .2s;
          }

          .updated-at {
            font-size: 14px;
            position: relative;
            cursor: default;
          }

          // TASK DETAILS

          .details {
            padding: 40px;
            background: #fff;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: fixed;
            inset: 50% auto auto 50%;
            transform: translate(-50%, 0);
            opacity: 0;
            z-index: 120;
            pointer-events: none;
            transition: .2s;

            &.open {
              transform: translate(-50%, -50%);
              opacity: 1;
              pointer-events: all;
            }

            * {
              white-space: normal;
            }

            .task-title {
              font-weight: 600 !important;
              transform: none !important;
            }

            .description {
              font-weight: 500;
            }

            .date {
              display: flex;
              flex-direction: column;
              gap: 10px;

              p {
                font-size: .9em;
                font-weight: 500;

                span {
                  font-weight: 400;
                }
              }
            }

          }

          .backdrop {
            background: rgba($color: #000, $alpha: .4);
            position: fixed;
            inset: 0;
            z-index: 110;
          }

          &.open,
          &:hover {
            .task-title {
              transform: translateX(30px);
            }

            .updated-at {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}