@import './variables';

.tasks-page {
  padding: 0 !important;
  display: grid !important;
  align-items: flex-start !important;
  grid-template-columns: auto 1fr;
  row-gap: $app-row-gap  !important;

  .no-tasks {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    height: calc(100vh - $app-padding * 2 - 100px);
    text-align: center;
    // position: absolute;
    // inset: 50% auto auto 50%;
  }

  // ADD TASK BUTTON

  .add-task-link {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0 auto;
    width: $btn-size;
    height: $btn-size;
    background: $pink;
    // background: linear-gradient(120deg, #00f1b5, #218ab8);
    // background: linear-gradient(120deg, #fccb90, #d57eeb);
    box-shadow: $lg-shadow;
    border-radius: 12px;
    position: sticky;
    top: $app-padding;
    z-index: 3;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        color: #fff;
        font-size: 2.3em;
        text-align: center;
        pointer-events: none;
      }

      .title {
        padding: 4px 6px;
        background: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        position: absolute;
        top: calc(100% - 10px);
        opacity: 0;
        transform: translateY(10px);
        cursor: pointer;
        pointer-events: none;
        transition: .2s;
      }
    }

    &:hover {
      a {
        .title {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  // PROGRESS BAR

  .progress-bar {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0 auto;
    padding: 20px;
    width: $nav-width;
    height: calc(100vh - $app-padding * 2 - $btn-size - $app-row-gap);
    background: #fff;
    box-shadow: $lg-shadow;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    top: calc($app-padding + $btn-size + $app-row-gap);
    z-index: 3;


    .percent {
      width: 40px;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      position: relative;
      // transition: .2s;

      &.percent-to-do {
        background: #ffc0ca;
      }

      &.percent-in-progress {
        background: #dec1f2;
      }

      &.percent-done {
        background: #f9d89c;
      }

      p {
        padding: 4px 8px;
        min-width: 60px;
        text-align: center;
        background: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        color: #000;
        position: absolute;
        top: 10px;

        span {
          color: #000;
          font-family: 'Fira Mono';
          font-size: 14px;
        }
      }
    }
  }

  // JS FUNCTION CONTAINER

  .js-function {
    grid-area: 1 / 2 / 2 / 3;
    height: $btn-size;
    // width: calc(100% - $app-padding * 2 - 60px);
    display: flex;
    justify-content: center;
    // gap: 60px;
    // position: sticky;
    // top: $app-padding;
    // z-index: 3;

    .search {
      display: flex;
      align-items: center;
      position: relative;

      .search-bar {
        background: rgba($color: #fff, $alpha: .4);
      }

      .icon-search {
        position: absolute;
        right: 10px;
      }
    }
  }

  // TASKS CONTAINER

  .tasks-container {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    min-height: calc(100vh - $app-padding * 2 - $app-row-gap - $btn-size);
    display: grid;
    // justify-content: center;
    gap: 20px;

    .status {
      padding: 20px;
      height: fit-content;
      // background: #fff;
      box-shadow: $lg-shadow;
      border-radius: 12px;
      position: relative;

      &.to-do {
        .task-status {
          background: #ffc0ca;
        }

        .grid {
          .task-content {
            &:hover {
              background: #ffc0ca;
              box-shadow: 0 0 0 4px #ffc0ca;
            }
          }
        }
      }

      &.in-progress {
        .task-status {
          background: #dec1f2;
        }

        .grid {
          .task-content {
            &:hover {
              background: #dec1f2;
              box-shadow: 0 0 0 4px #dec1f2;
            }
          }
        }
      }

      &.done {
        .task-status {
          background: #f9d89c;
        }

        .grid {
          .task-content {
            &:hover {
              background: #f9d89c;
              box-shadow: 0 0 0 4px #f9d89c;
            }
          }
        }
      }

      .task-status {
        margin: 0 20px;
        padding: 0 40px;
        width: fit-content;
        height: 40px;
        border-radius: 6px;
        display: flex;
        align-items: center;
      }

      .grid {
        width: 100%;
        margin: 20px 0 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;

        .task-content {
          padding: 0 16px;
          height: 44px;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          position: relative;

          &.high-importance {
            background: #f8cbbe;
          }

          &.medium-importance {
            background: #cbeddb;
          }

          &.low-importance {
            background: #fff;
          }

          .task-title {
            width: 100%;
            transition: .2s;
          }

          .created-at {
            font-size: 14px;
            position: relative;
            cursor: default;
          }

          .description {
            padding: 20px;
            min-height: 140px;
            background: #fff;
            border: 1px solid #aaa;
            white-space: normal;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            inset: auto 0 0;
            transform: translateY(100%);
            pointer-events: none;
            z-index: 4;
            transition: .4s;
          }

          .buttons {
            padding: 4px;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            display: flex;
            gap: 10px;
            position: absolute;
            left: calc(100% - 30px);
            transform: translateX(-20px);
            opacity: 0;
            visibility: hidden;
            z-index: 1;
            transition: .4s;

            .link {
              display: flex;
              justify-content: center;
            }

            .button {
              display: flex;
              justify-content: center;
              position: relative;
              cursor: pointer;

              &::before {
                padding: 8px 10px;
                background: #fff;
                border: 1px solid #aaa;
                border-radius: 4px;
                color: #000;
                // color: #fff;
                font-family: 'Poppins' !important;
                font-size: 16px !important;
                position: absolute;
                bottom: calc(100% + 10px);
                opacity: 0;
                transform: translateY(10px);
                pointer-events: none;
                transition: .2s;
              }

              &:hover {
                &::before {
                  opacity: 1;
                  transform: translateY(0);
                }
              }

              &.button-link {
                &::before {
                  content: 'Open in new tab';
                }

                &:hover {
                  color: $blue;
                }
              }

              &.button-edit {
                &::before {
                  content: 'Update';
                }

                &:hover {
                  color: $green;
                }
              }

              &.button-delete {
                &::before {
                  content: 'Delete';
                }

                &:hover {
                  color: $red;
                }
              }
            }
          }

          &:hover {
            .task-title {
              transform: translateX(30px);
            }

            .created-at {
              opacity: 0;
            }

            .description {
              transform: translateY(0);
              pointer-events: all;

              &.link {
                pointer-events: all;
              }
            }

            .buttons {
              transform: translateX(0);
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }

  // TASK DETAILS

  .task-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}