@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.input {
  @include mix.flex-column;
  position: relative;

  &--error {
    @extend .input;

    input {
      border-color: v.$red !important;

      &::placeholder {
        color: v.$red !important;
      }
    }
  }

  >* {
    outline: 0;
  }

  >input,
  >textarea {
    width: 100%;
    min-width: 160px;
    background: #fff;
    border: 1px solid rgba($color: #000, $alpha: .2);
    border-radius: 6px;
    font-family: inherit;
    font-size: 1.1em;

    &::placeholder {
      color: rgba($color: #000, $alpha: .4);
    }

    &:focus {
      border-color: #85b7d9;

      &+.search-icon,
      &::placeholder {
        color: rgba($color: #000, $alpha: .6);
      }
    }

    &+.search-icon,
    &+.eye-icon {
      @include mix.flex-center;
      padding: 0 10px;
      height: 100%;
      background: #ebdfff;
      border: 1px solid rgba($color: #000, $alpha: .2);
      border-radius: 0 6px 6px 0;
      color: rgba($color: #000, $alpha: .4);
      position: absolute;
      inset: 0 0 auto auto;
    }

    &+.eye-icon {
      cursor: pointer;

      &:hover {
        background: #dfd1f7;
      }
    }
  }

  >input {
    padding: .6rem 1rem;
  }

  >textarea {
    padding: 1rem;
    height: 200px;
    max-height: 300px;
    min-height: 100px;
    resize: vertical;
  }

  >.remaining {
    margin: 1rem 0 0 1rem;
    color: #888;
  }

  >label {
    @include mix.flex-gap(1rem);

    input {
      padding-left: 2rem;
      position: relative;

      &::before,
      &::after {
        width: 1rem;
        height: 1rem;
        position: absolute;
        inset: 0;
      }

      &::before {
        content: '';
        background: #fff;
        border: 1px solid rgba($color: #000, $alpha: .2);
        border-radius: .2rem;
      }

      &::after {
        font-size: 1rem;
        text-align: center;
        font-family: Checkbox;
      }

      &:checked::after {
        content: '\e800';
      }
    }
  }
}