@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.cursor {
  // width: 120px;
  // height: 120px;
  // box-shadow: 0 0 0 1px rgba($color: #000, $alpha: .4);
  // border-radius: 50%;
  position: fixed;
  inset: -4rem auto auto 4rem;
  z-index: 1003;
  pointer-events: none;
  transition: opacity .2s, box-shadow 0s;

  &--out {
    @extend .cursor;
    // box-shadow: 0 0 0 40px rgba($color: #000, $alpha: .4);
    opacity: 0;
    transition: opacity .8s, box-shadow .6s;
    // transition: .8s;
  }

  .active-status {
    padding: .5rem .75rem;
    width: fit-content;
    background: v.$red-1;
    opacity: .4;
    // background: #ff605866;
    box-shadow: 0 0 0 .125rem v.$dark, .375rem .375rem 0 .125rem v.$dark;
    border-radius: v.$radius-sm;
  }
}