@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.cursor {
  width: 120px;
  height: 120px;
  box-shadow: 0 0 0 1px rgba($color: #000, $alpha: .4);
  border-radius: 50%;
  position: fixed;
  inset: 0;
  z-index: 1003;
  pointer-events: none;
  transition: opacity .2s, box-shadow 0s;

  &--out {
    @extend .cursor;
    box-shadow: 0 0 0 40px rgba($color: #000, $alpha: .4);
    opacity: 0;
    transition: opacity 1s, box-shadow .4s;
    // transition: .8s;
  }
}