@use '../../styles/vars';

.signup {
  flex-direction: row !important;

  .validation {
    margin-top: 20px;
    padding: 20px;
    background: #ddd;
    border-radius: 6px;
    line-height: 1.4rem;
    pointer-events: none;

    &>p {
      margin-bottom: 10px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}