@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.task-content {
  padding: 1rem;
  flex: 1;
  // background: v.$low;
  background: var(--task-low);
  // box-shadow: 0 6px 12px rgba($color: #000, $alpha: .2);
  border: var(--task-border);
  border-radius: v.$radius-lg;
  color: var(--color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  transition: background .2s, box-shadow .2s;

  &:hover {
    // background: v.$green-4;
    background: var(--task-hover);
    border-color: var(--primary);
    // box-shadow: 0 0 0 .125rem v.$dark, .375rem .375rem 0 .125rem v.$dark;
    // box-shadow: var(--box-shadow);
  }

  &-important {
    @extend .task-content;
    // color: #000;

    // background: v.$high;
    background: var(--task-high);

    .task-content-footer {
      .task-importance {
        color: v.$red-2;
      }
    }
  }

  &-infos {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-title {
      font-weight: 600;
    }

    &-description,
    &-description-list {
      font-size: .875rem;

      &-item {
        padding-left: 4px;

        &::marker {
          content: '-';
        }
      }
    }

    &-tags {
      @include mix.flex-gap(.5rem);
      flex-wrap: wrap;

      .tag {
        // border: var(--task-border);
        padding: .25rem .5rem;
        // background: v.$yellow-3;
        background: var(--tag-background);
        // background: var(--tag-background);
        // border: var(--task-border);
        border-radius: v.$radius-sm;
        color: #000;
        font-size: .875rem;
        white-space: nowrap;
        cursor: pointer;

        // span {
        //   font-size: .75rem;
        // }
      }
    }
  }

  &-footer {
    @include mix.flex-align-gap(.5rem);
    justify-content: flex-end;

    &-date {
      width: 100%;
      font-size: .875rem;
      position: relative;
      white-space: nowrap;
      cursor: default;
    }

    .task-importance {
      font-style: italic;
      font-size: .875rem;
      // color: #888;
    }

    .button {
      padding: .25rem;
      display: flex;
      justify-content: center;
      position: relative;
      cursor: pointer;

      &-validate {
        &+.button-title {
          white-space: nowrap;
        }
      }
    }
  }
}