@use '../../styles/vars' as v;

.task__content {
  padding: 1rem;
  flex: 1;
  background: v.$low-importance;
  border-radius: v.$radius;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  position: relative;
  transition: background .2s, box-shadow .2s;

  &--important {
    @extend .task__content;

    background: v.$high-importance;

    .task__content-footer {
      .task-importance {
        color: #f00;
      }
    }
  }

  &-infos {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-title {
      font-size: 1.1rem;
    }

    &-description,
    &-description-list {
      font-size: 1.1rem;
      font-weight: 200;
      line-height: 1.6rem;

      &-item {
        padding-left: 4px;

        &::marker {
          content: '-';
        }
      }
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;
    transition: .4s;

    &-date {
      width: 100%;
      font-size: .8rem;
      position: relative;
      white-space: nowrap;
      cursor: default;
    }

    .task-importance {
      font-style: italic;
      font-size: .8rem;
      color: #888;
    }

    .button {
      display: flex;
      justify-content: center;
      position: relative;
      cursor: pointer;

      &-title {
        padding: .6rem;
        // background: #fff;
        background: v.$light;
        border: 1px solid #aaa;
        // border-radius: v.$radius;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        font-weight: 200;
        position: absolute;
        bottom: calc(100% + 10px);
        opacity: 0;
        transform: translateY(10px);
        pointer-events: none;
        z-index: 1004;
        transition: .2s;

        // &::before,
        // &::after {
        //   content: '';
        //   width: 0;
        //   position: absolute;
        // }

        // &::before {
        //   border-top: 9px solid #aaa;
        //   border-right: 9px solid transparent;
        //   border-left: 9px solid transparent;
        //   bottom: -9px;
        // }

        // &::after {
        //   border-top: 8px solid #fff;
        //   border-right: 8px solid transparent;
        //   border-left: 8px solid transparent;
        //   bottom: -8px;
        // }
      }

      &:hover {

        .button-title {
          opacity: 1;
          transform: translateY(0);
        }
      }

      &-validate {
        // &:hover {
        //   color: v.$blue;
        // }

        &+.button-title {
          white-space: nowrap;
        }
      }

      // &-update {
      //   &:hover {
      //     color: v.$green;
      //   }
      // }

      // &-delete {
      //   &:hover {
      //     color: v.$red;
      //   }
      // }
    }
  }
}