@use '../../styles/vars' as v;

.task__content {
  padding: 14px;
  background: #ddd;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  position: relative;

  &.important {
    background: v.$important-task;
  }

  &-infos {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-title {
      width: 100%;
      white-space: normal;
      transition: .2s;
    }

    &-description {
      width: 100%;
      white-space: normal;
      font-size: .8em;
    }
  }

  &-date {
    width: 100%;
    font-size: .8em;
    position: relative;
    cursor: default;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;
    transition: .4s;

    .high-important-task {
      color: #f00;
      font-style: italic;
      font-size: .8em;
    }

    .low-important-task {
      color: #888;
      font-style: italic;
      font-size: .8em;
    }

    .button {
      display: flex;
      justify-content: center;
      position: relative;
      cursor: pointer;

      &-title {
        padding: 8px;
        background: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        font-family: 'Poppins' !important;
        font-size: 16px !important;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: calc(100% + 10px);
        opacity: 0;
        transform: translateY(10px);
        pointer-events: none;
        transition: .2s;

        &::before,
        &::after {
          content: '';
          width: 0;
          position: absolute;
        }

        &::before {
          border-top: 9px solid #aaa;
          border-right: 9px solid transparent;
          border-left: 9px solid transparent;
          bottom: -9px;
        }

        &::after {
          border-top: 8px solid #fff;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
          bottom: -8px;
        }
      }

      &:hover {
        .button-title {
          opacity: 1;
          transform: translateY(0);
        }
      }

      &-details {
        &:hover {
          color: v.$blue;
        }
      }

      &-update {
        &:hover {
          color: v.$green;
        }
      }

      &-delete {
        &:hover {
          color: v.$red;
        }
      }
    }
  }
}