@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

// use only even number
$loader-stroke-width: 2px;

.loader {
  @include mix.flex-center;
  border-radius: 50%;
  position: relative;

  &::before,
  &::after {
    content: '';
    border-radius: 50%;
    position: absolute;
  }

  &::before {
    width: 100%;
    height: 100%;
    // background: linear-gradient(var(--color) 50%, rgba(var(--color), .2) 50%);
    // background: linear-gradient(var(--color) 50%, rgba($color: var(--color), $alpha: .2) 50%);
    background: var(--loader);
    animation: animate .6s infinite linear;

    @keyframes animate {
      100% {
        transform: rotate(360deg);
      }
    }
  }

  &::after {
    width: calc(100% - $loader-stroke-width);
    height: calc(100% - $loader-stroke-width);
    // background: v.$light;
    background: var(--background);
  }
}