@use '../../styles/vars';

.task__content {
  padding: 14px 14px;
  background: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;

  &.important {
    background: vars.$important-task;
  }

  &:hover {
    .task__content-title {
      transform: translateX(30px);
    }

    .task__content-date {
      opacity: 0;
    }

    .task__content-buttons-container {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }

  &-title {
    width: 100%;
    white-space: normal;
    transition: .2s;
  }

  &-date {
    font-size: .8em;
    position: relative;
    cursor: default;
  }

  &-buttons-container {
    padding: 6px 8px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    gap: 14px;
    position: absolute;
    right: -20px;
    transform: translateX(-20px);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: .4s;

    .button {
      display: flex;
      justify-content: center;
      position: relative;
      cursor: pointer;

      &-title {
        padding: 8px;
        background: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        color: #000;
        font-family: 'Poppins' !important;
        font-size: 16px !important;
        position: absolute;
        bottom: calc(100% + 10px);
        opacity: 0;
        transform: translateY(10px);
        pointer-events: none;
        transition: .2s;
      }

      &:hover {
        .button-title {
          opacity: 1;
          transform: translateY(0);
        }
      }

      &-details {
        &:hover {
          color: vars.$green;
        }
      }

      &-delete {
        &:hover {
          color: vars.$red;
        }
      }
    }
  }
}