.previous-page {
  position: absolute;
  inset: 45px auto auto 60px;

  a {
    font-size: 1.4em;

    &::before {
      content: '';
      width: 0;
      height: 1px;
      background: #000;
      border-radius: 4px;
      position: absolute;
      inset: auto 5% -2px auto;
      transition: .2s;
    }

    &:hover {
      &::before {
        width: 90%;
        inset: auto auto -2px 5%;
      }
    }
  }
}