// @import '../../styles/vars';

form {
  .title__input {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    &-remaining {
      color: #888;
    }
  }

  .inputs-container {
    display: flex;
    align-items: center;
    gap: 20px;

    .important__checkbox {
      display: flex;
      gap: 10px;

      &-label {
        display: flex;
        gap: 10px;
      }

      &-value {
        width: 40px;
        color: #888;
        text-align: center;
      }
    }
  }
}