@use '../../styles/vars' as v;

.create-list {
  padding: 20px;
  background: #ddd;
  border-radius: 6px;
  text-align: center;
  pointer-events: none;

  b {
    padding: 2px 6px;
    background: #444;
    border-radius: 6px;
    color: #fff;
    font-weight: 800;
  }
}