@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.delete-container {
  @include mix.flex-justify-gap(1rem);
  border-radius: v.$radius-lg;
  align-self: flex-end;
  justify-content: center;
  position: relative;
  // overflow-x: hidden;
  // transition: .2s;

  &-confirm {
    @extend .delete-container;
  }

  .confirm-message {
    display: flex;
    align-self: center;
    position: absolute;
    top: -2rem;
  }
}