@use '../../styles/vars';

.filter__function {
  grid-area: 1 / 3 / 2 / 4;
  height: vars.$btn-size;
  display: flex;
  align-items: center;

  &-search-bar {
    min-width: 160px;
    display: flex;
    align-items: center;
    position: relative;

    input {
      padding: 8px 10px;
      outline: none;
      border: none;
      border-radius: 6px;
      box-shadow: vars.$sm-shadow;
      font-size: 100%;
    }

    .icon-search {
      position: absolute;
      right: 10px;
    }
  }
}