@use '../../styles/vars';

.filter__function {
  padding: 0 vars.$app-padding;
  height: vars.$btn-size;
  // background: vars.$container-bg;
  // box-shadow: vars.$lg-shadow;
  // border-radius: 12px;
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  &-search-bar {
    min-width: 160px;
    display: flex;
    align-items: center;
    position: relative;

    input {
      padding: 8px 10px;
      outline: none;
      border: none;
      border-radius: 6px;
      box-shadow: vars.$sm-shadow;
      font-size: 100%;
    }

    .icon-search {
      position: absolute;
      right: 10px;
    }
  }
}